
:root{
    --primary-color:#ff7833;
    --secundary-color:#31333b;
    --secundary-color-ligth: #424449;

}
html{
    font-size: 62.5%;
}
body{
    display: flex; 
    margin: 0;
    color: #d7d6d6;
    background-color: #ccc;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    min-height: 100vh;
   
}


.main-header{
    flex: 0 0 26rem;
    background-color: var(--secundary-color);
}
.main{
    flex: 1 0;
    background-color:var(--secundary-color-ligth);
}
a{
    color: inherit;
}
.main, .main-header{
    font-size: 1.6rem;
}
.perfil-img{
    max-width: 10rem;
    
}
.main-nav{
    text-align: right;
    padding: 6.5rem 2.4rem;
}
.main-nav ul{
    list-style-type: none;
    padding: 0;
}.main-nav ul a{
    display: block;
    text-decoration: none;
    padding: 1.2rem;
    transition: padding-right .8s background-color .8s ease-in-out;
    background-color: transparent;
}
.main-nav ul a:hover{
    background-color: var(--secundary-color-ligth);
    padding-right: 2rem;
}
 .main-nav  li{
    border-bottom: 1px solid #7b7b7b;
    padding: .4rem 0;
   
}