@charset "UTF-8";

:root{
    --cor-azul:#3a68b7;
    
    --font-geral: font-family: 'Roboto', sans-serif;
}
html{
    font-family:roboto ;
    background-color: var(--cor-azul);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
form{
    width: 80%;
    box-shadow: -5px 0px 0px rgba(0, 0, 0, 0.342);
    max-width: 32em;
    background-color: rgb(240, 248, 255);
}

fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    gap: .25em;

}
legend{
    color: var(--cor-azul);
    padding-top: 1em;
    font-size: 1.75em;
    font-weight: 300;
    
   
}
.input{
    border: 0;
    border-bottom: 1px solid var(--cor-azul);
    outline: 0;
    padding: .5em 0;
    font-size: 1.2em;
    border-radius: 0;
    margin-bottom: .8em;
    transition: padding .1s;

}
label{
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 300;
}
.input, label{
    
}
.input:focus{
    border: 1px solid var(--cor-azul);
    padding-left: .75em;
    
    
    
}
.btn{
    border-radius: 3px;
    text-transform: uppercase;
    padding: .8em 1.2em;
    
    
    font-size: 1em;
    font-weight: 600;
    border: 0;
    outline: 0;
    letter-spacing: 1px;

}
.btn-prima{
    background-color: #3a68b7;
    color: white;

}
.btn-second{
    color: var(--cor-azul);
    text-decoration: none;

}
.login{
    font-size: .875em;
}
.action{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.aside{
    font-size: .85em;
    flex: 1;
    text-align: right;
    text-decoration: none;

}
.aside p{
    flex: 1;
    text-align: right;
}

